body {
    font-family: 'Rubik', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
}

section {
    margin: 20px;
}

.skills-list {
    display: flex;
    
    
}

.business-skills {
    display: flex;
   /* justify-content: center; */
}

.tech-skills {
    display: flex;
   /* justify-content: center; */
}

