/* Global Styles */

body {
    font-family: 'Rubik', sans-serif;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
}

section {
    padding: 20px;
  /*  width: 100%; */
}

li {
    list-style-type: none;
    line-height: 1.3em;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
}

span {
    font-weight: 700;
}


/* What Can I Do */
.business-skills {
    display: flex;
   justify-content: space-between; 
}

.skills-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 50%;
}

.tech-skills {
    display: flex;
    width: 50%;
    justify-content: space-around; 
}

/* Where Can You See my Work */
.writing {
    display: flex;
    justify-content: space-around;
}

/* Want to Get in Touch */
.contact-items {
    display: flex;
    justify-content: space-around;
}


